<div class="content">
  <img src="../../assets/YachtClub_v3.png">
  <div class="card">
    <div>
      <h2>Sélection des stages</h2>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="flexRadioDefault" (click)="carole()">
        <label class="form-check-label" for="flexRadioDefault2">
            Mode Carole
        </label>
      </div>

    
  
      <div id="selectionStage" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="stageItem col mb-4" *ngFor="let stage of stages">
          <div class="col mb-4">
            <div class="card-body">
              <h4 class="card-title">{{stage.nom}}</h4>
              <p class="card-text">{{stage.prix}} €</p>
              <div class="d-flex align-items-center buttonsQte">
                <button type="button" class="btn btn-primary" (click)="ajouterStageDemande(stage)">Ajouter un stage</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <hr>
    <div class="d-flex justify-content-around options">
      <button type="button" class="btn btn-warning" (click)="reset()">Réinitialiser</button>
      <button type="button" class="btn btn-success" (click)="ajouterPassport()">+ Passport'Voile</button>
      <button type="button" class="btn btn-danger" (click)="ajouterCotis()">+ Cotisation </button>

    </div>
  </div>
  
  <div class="card">
    <h2>&Eacute;lements de la simulation</h2>
    <table class="table" id="tableRecap">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prix public</th>
          <th>Prix remisé</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stageDemande of stagesDemandesArr">
          <tr>
            <td>{{ stageDemande.nom }}</td>
            <td>{{ stageDemande.prixPublic.toFixed(2) }} €</td>
            <td>{{ stageDemande.prixRemise.toFixed(2) }} €</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let optionDemande of optionsDemandesArr">
          <tr>
            <td>{{ optionDemande.nom }}</td>
            <td>{{ optionDemande.prixPublic.toFixed(2) }} €</td>
            <td>{{ optionDemande.prixPublic.toFixed(2) }} €</td>
          </tr>
        </ng-container>
        
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><strong>Total</strong></td>
          <td><strong>{{ total.toFixed(2) }} €</strong></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  

  <div class="card">
    <div id="exportrecapitulatif">
      <h2>Exporter le récapitulatif</h2>
      <hr>
      <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-primary" (click)="genererPDF()">Télécharger / Imprimer</button>
      </div>
      <div class="d-flex justify-content-center">
        <form class="form-inline d-flex justify-content-evenly" (submit)="sendEmail()">
          <div class="form-group mb-2">
            <label for="staticEmail2" class="sr-only">Ex. jean.boneaud@gmail.com</label>
            <input class="form-control" type="text" id="mailDest" placeholder="Entrer email client: ">
          </div>
          <button type="submit" class="btn btn-success mb-2">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</div>  